<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h3>ChatApp</h3>
      </header>

      <section class="username-area">
        <div id="change-username">
          <input id="username" type="text" />
          <button id="send-username" type="button">Change username</button>
        </div>
      </section>

      <section>
        <ul id="chatroom"></ul>
        <div id="feedback"></div>
      </section>

      <section id="input-zone">
        <input id="message" class="vertical-align" type="text" />
        <button
          id="send-message"
          class="button button-primary vertical-align"
          type="button"
        >
          Send
        </button>
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
