<!DOCTYPE html>
<html>
  <head>
    <title>chatapp - send anonymous messages to anonymous people</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
    />

    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="chat.svg" type="image/x-icon" />
  </head>
  <body>
    <div class="brand">
      <div>
        <h3>chatapp</h3>
      </div>
      <div class="u-inline-form">
        <input type="text" id="username" placeholder="Anonymous" />
        <button id="change-username" class="button" style="color: white;">
          change username
        </button>
      </div>
    </div>

    <div class="chatroom">
      <ul id="messages"></ul>

      <small id="activity"></small>
    </div>

    <div class="sidebar">
      <h6 id="notification">Online</h6>
      <ul id="online-users"></ul>
    </div>

    <div class="row">
      <form action="">
        <div class="ten columns">
          <input type="text" class="u-full-width" id="msg" autocomplete="off" />
        </div>
        <div class="two column">
          <button class="button u-full-width" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>

    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
