/* set variables */
:root {
  --primary-color: rgba(51, 138, 209, 0.815);
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

/* by elements */
form {
  background: var(--primary-color);
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
}

form input {
  border: 0;
  margin-right: 0.5%;
}
form button.button {
  padding: 1px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* by ids */
#activity {
  padding: 15px;
  font-weight: 300;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

/* by classes */
.brand {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  width: 80%;
  position: fixed;
  top: 0;
}

.chatroom {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 100px;
}

.logo {
  font-weight: 500;
}

.sidebar {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  right: 0;
  color: black;
  width: 20%;
  padding: 0.8%;
  text-align: center;
}

/* utility classes */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-inline-form * {
  margin: 5px;
  margin-top: -10px;
}

.u-inline-form {
  display: flex;
  justify-content: center;
}

.u-text-right {
  text-align: right;
}

.u-pointer {
  cursor: pointer;
}

.u-text-strong {
  font-weight: 500;
  color: var(--primary-color);
}

/* media queries */
@media (max-width: 720px) {
  .chatroom {
    margin-top: 22%;
    margin-bottom: 150px;
  }
}
