:root {
  --primary-color: rgba(46, 46, 46, 0.815);
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px "Raleway", "sans-serif";
}

form {
  background: var(--primary-color);
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
}

form input {
  border: 0;
  margin-right: 0.5%;
}
form button.button {
  padding: 1px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

#activity {
  padding: 15px;
}

.brand {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
}

.main {
  margin-bottom: 150px;
  width: 80%;
}

.sidebar {
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  width: 20%;
  padding: 0.8%;
  text-align: center;
}

/* utility classes */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-inline-form * {
  margin: 5px;
  margin-top: -10px;
}

.u-inline-form {
  display: flex;
  justify-content: center;
}

.u-text-right {
  text-align: right;
}

.u-pointer {
  cursor: pointer;
}

.u-bolder {
  font-weight: bolder;
}
